.item {
  list-style-type: none;
  border-top: 1px solid #e5e5e5;
  padding: 1em 0;
}
.item .container {
  display: flex;
  justify-content: space-between;
}

.item .container .last {
  display: flex;
  padding-top: 1em;
}
.item img {
  height: 100%;
  width: 200px;
}
.item .container .first {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item .container .first div {
  margin-top: 1.5rem;
}
.item strong {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #1d1f22;
  margin-top: 20px;
}

.item h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #1d1f22;
  margin-top: 10px;
}

.item .size button {
  width: 63px;
  height: 45px;
  background-color: white;
  color: black;
  margin-right: 12px;
  border: 1px solid black;
}

.item .size .sizeChoice {
  color: white;
  background-color: #1d1f22;
}
.item .colors button {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.item .colors .colorChoice {
  border: 3px solid #53ce78;
}
.item .actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1em;
}

.item .actions button {
  height: 40px;
  width: 40px;
  background-color: white;
  border: 1px solid;
  font-size: 20px;
}
.item .actions span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
}

.item .scroll {
  position: absolute;
  right: 3%;
  bottom: 2%;
}

.item .scroll :first-child {
  margin-right: 10px;
}

@media (max-width: 655px) {
  .container {
    flex-direction: column-reverse;
  }
  .container .last {
    margin-bottom: 3rem;
  }
}
