.item {
  display: inline-block;
  color: #1d1f22;
  width: 386px;
  padding: 20px;
  background-color: white;
  position: relative;
  transition: all 300ms ease-in-out;
  transform: scale(0.9);
}

.item img {
  width: 334px;
}

.item .fade {
  width: 334px;
  height: 300px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item .fade p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  color: #8d8f9a;
  cursor: not-allowed;
  z-index: 300;
}
.item p {
  font-weight: 300;
  font-size: 22px;
  font-family: "Raleway";
  line-height: 29px;
}

.btn {
  position: absolute;
  bottom: 16%;
  right: 6%;
  display: none;
}

.show {
  display: block;
}

.item:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.added {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}
.added object span {
  display: block;
}

.out-of-stock p {
  color: #8d8f9a;
}

.out-of-stock strong {
  font-weight: 500;
  font-size: 18px;
  color: #8d8f9a;
}
