.container {
  margin-top: 3rem;
}
.container h3 {
  margin-left: 2em;
}
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-left: 0;
}

@media (max-width: 1200px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 795px) {
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }
}
