.dropdown {
  width: 330px;
  max-height: 600px;
  position: absolute;
  right: 3%;
  top: 10%;
  z-index: 500;
  background-color: white;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.dropdown ul {
  padding: 0;
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.amount,
.actions {
  display: flex;
  justify-content: space-between;
}

.actions button {
  padding: 16px 32px;
  width: 140px;
  height: 43px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions :first-child button {
  background-color: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.actions :last-child {
  background: #5ece7b;
  border: 1px solid #5ece7b;
  color: white;
}
